.form-inline{
    display: inline;
}

.mainList{
    list-style-type: none;
    margin: auto;
    size: 20px;
}

h2, h3 {
    margin: auto;
    size: 70rem;
}

header{

    background-color: rgb(6, 6, 51);
    color: white;

}

.block-card{
    display: inline-block;
}

.center {
    margin: auto
}

.listCSS {
    list-style-type: none;
    margin: auto;
    size: 20px;
}


.hide{
    display: none;
}


