.form-inline{
    display: inline-flex;
}

.card-deck {
    display: flex;
}

header{
    align-items: center;
    background-color: rgb(6, 6, 51);
    color: white;

}

h2, .smallfont{
    font-size: 16px;
}

