.form-inline{
    display: inline;
}

.mainList{
    list-style-type: none;
    margin: auto;
    size: 20px;
}

h2 {
    margin-bottom: 3%;
    margin-top: 2%;
    size: 70rem;
}

header{

    background-color: rgb(6, 6, 51);
    color: white;

}

.green{
    background-color: #5B8266;
}

.yellow{
    background-color: #FFC857;
}

.red{
    background-color: #AA5042;
}

.cards{
    display: inline-block;
    border: 2px solid black;
    max-height: 30%;
    padding: 3%;
    margin: 1%;
}

.center {
    margin: auto
}

.listCSS {
    list-style-type: none;
    margin: auto;
    size: 20px;
}


.hide{
    display: none;
}


